@import 'reset';
@import 'fonts';
@import 'bootstrap-grid';
@import 'slick';

body, html{
	color:#000;
	line-height: 1.3;
	font-size: 14px;
	background: url('../img/Happy-Fone-Fix-customer-holding-repaired-mobile-phone.jpg') no-repeat fixed center center/cover;
}

header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding-top: 15px;
	z-index: 2;
	.logo{
		display: block;
	}
}

.content-form{
	display: flex;
	align-content: center;
	justify-content: center;
	min-height: 100vh;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	.form-wrapper{
		height: 125px;
		position: absolute;
		left: 15px;
		right: 15px;
		top: 50%;
		transform: translate(0, -50%);
		box-shadow: 2px 2px 15px rgba(0,0,0,.2);
		border-radius: 5px;
		background-color: rgba(29,114,243,.92);
		overflow: hidden;
		padding: 1.25rem;
		justify-content: center;
		color: #fff;
		display: flex;
		align-items: center;
		&:after, &:before {
			content: '';
			display: block;
			width: 7vw;
			position: absolute;
			top: 0;
			bottom: 0;
			background-color: #1362e3;
			z-index: 1;
		}
		&:before {
			left: 0;
			transform: skewX(-15deg);
			transform-origin: 0 0;
		}
		&:after {
			right: 0;
			transform: skewX(-15deg);
			transform-origin: 0 100%;
		}
		span{
			font-size: 22px;
			display: inline-block;
			vertical-align: middle;
			font-weight: 500;
			&.select{
				margin: 0 25px;
				color: #1d72f3;
				background-color: #fff;
				border-radius: 7.5px;
				cursor: pointer;
				box-shadow: 2px 2px 10px rgba(0,0,0,.15);
				padding: 0 55px 0 30px;
				height: 65px;
				line-height: 65px;
				position: relative;
				transition: all .3s ease;
				&:after{
					content: "";
					display: block;
					position: absolute;
					right: 17px;
					background-image: url('../img/l-sprite.png');
					background-position: 0 -249px;
					width: 16px;
					height: 10px;
					top: 50%;
					transform: translate(0, -50%);
				}
				&.not-valid{
					box-shadow: 0 0 10px red;
				}
			}
		}
		button{
			transition: color .3s;
			color: #fff;
			background: none;
			border:none;
			font-size: 20px;
			font-weight: 700;
			height: 56px;
			position: relative;
			padding-right: 66px;
			&:after{
				position: absolute;
				right: 0;
				top: 0;
				content:"";
				height: 56px;
				width: 56px;
				background-color: #6da7ff;
				border-radius:50%;
				transition: background .3s;
				background-image: url('../img/l-sprite.png');
				background-position: 18px -890px;
			}
			&:hover{
				color: #004bbe;
				&:after{
					background-color: #004bbe;
				}
			}
		}
	}
}

.modal{
	z-index: 10;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .8);
	display: none;
	justify-content: center;
	align-items: center;
	.close-modal{
		color: #1d72f3;
		border: none;
		width: 36px;
		height: 36px;
		background-color: #fff;
		border-radius: 50%;
		-webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
		font-size: 28px;
		font-weight: 300;
		line-height: 36px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10;
		transform: translate(40%, -40%);
	}
	.modal-wrapper{
		height: 500px;
		width: 390px;
		position: relative;
		transition:transform .3s ease, opacity .2s ease;
		transform: scale(.3);
		opacity: 0;
		.search{
			height: 70px;
			border: 0;
			padding: 15px 25px;
			display: block;
			width: 100%;
			overflow: hidden;
			z-index: 1;
			box-sizing: border-box;
			border-radius: 5px 5px 0 0;
			background-color: #1d72f3;
			color: #f4f4f4;
			position: relative;
			&:after{
				content:"";
				height: 1px;
				position: absolute;
				left: 25px;
				right: 25px;
				background-color: #f4f4f4;
				bottom: 15px;
				opacity: .8;
			}
			input{
				&[type="search"]{
					background: none;
					border:none;
					color: #fff;
					width: 270px;
					font-size: 16px;
					height: 40px;
					&::placeholder {
						color: #f4f4f4;
						opacity: .8;
					}
					&:-ms-input-placeholder {
						color: #f4f4f4;
						opacity: .8;
					}
					&::-ms-input-placeholder {
						color: #f4f4f4;
						opacity: .8;
					}
				}
				&[type="submit"]{
					display: block;
					position: absolute;
					top: 50%;
					right: 25px;
					margin-top: -10px;
					border:none;
					padding: 0;
					font-size: 0;
					box-shadow:none;
					background: none;
					background-image: url('../img/l-sprite.png');
					background-position: 0 -989px;
					width: 14px;
					height: 14px;
					opacity: .8;
				}
			}
		}
		.phone-list{
			height: 430px;
			overflow-y: auto;
			background: #fff;
			position: relative;
			li{
				cursor: pointer;
				transition: color .3s;
				font-size: 25px;
				font-weight: 500;
				color: #bbb;
				li{
					padding: 14px 25px;
				}
				&.active{
					color: #1d72f3;
				}
				span{
					background-color: rgb(248, 248, 248);
					border-bottom: 1px solid rgb(208, 208, 208);
					color: rgb(29, 114, 243);
					cursor: default;
					display: block;
					padding: 14px 25px;
					font-weight: 700;
					font-size: 20px;
					line-height: 1;
					box-shadow: 0 3px 5px -1px rgba(0,0,0,.2);
				}
			}
		}
		.fix-title{
			background-color: rgb(248, 248, 248);
			border-bottom: 1px solid rgb(208, 208, 208);
			color: rgb(29, 114, 243);
			cursor: default;
			display: block;
			padding: 14px 25px;
			font-weight: 700;
			font-size: 20px;
			line-height: 1;
			box-shadow: 0 3px 5px -1px rgba(0,0,0,.2);
			position: absolute;
			z-index: 2;
			left: 0;
			right: 0;
		}
	}
	&.modal-active{
		.modal-wrapper{
			opacity: 1;
			transform:scale(1);
		}
	}
	&.modal-diagnosis{
		.modal-content{
			background-color: #fff;
			box-shadow: 0 3px 10px rgba(0,0,0,.15);
			border-radius: 5px;
			overflow: hidden;
			img{
				display: block;
				width: 100%;
			}
			h2{
				color: #1d72f3;
				font-size: 24px;
				font-weight: 500;
				line-height: 33px;
				margin-bottom: 16px;
			}
			p{
				color: grey;
				font-size: 16px;
				font-weight: 400;
				line-height: 27px;
			}
			&__text{
				padding:36px 20px;
				text-align: center;
			}
		}
	}
}

.progress{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	transition: .3s ease;
	transform:translate(0, 100%);
	background-color: #f4f4f4;
	padding: 15px;
	&.active{
		transform:translate(0, 0%);
	}
	li{
		font-size: 16px;
		line-height: 30.4px;
		font-weight: 700;
		padding:8px 20px;
		text-transform: uppercase;
		color: #d0d0d0;
		position: relative;
		flex-grow:1;
		padding: 0 0 15px 15px;
		span{
			content:"";
			height: 16px;
			width: 0px;
			position: absolute;
			left: 0;
			right: 18px;
			bottom: 0;
			background: #1d72f3;
			z-index: 2;
			transition: all 1s ease;
			&:before{
				display: none;
				content: "";
				height: 16px;
				width: 5px;
				background: #1d72f3;
				position: absolute;
				bottom: 0;
				right: -3px;
				transform: skewX(-15deg);
			}
		}
		&:before{
			content: "";
			height: 16px;
			width: 5px;
			background: #d0d0d0;
			position: absolute;
			bottom: 0;
			right: 15px;
			transform: skewX(-15deg);
		}
		&:after{
			content:"";
			height: 16px;
			position: absolute;
			left: 0;
			right: 18px;
			bottom: 0;
			background: #d0d0d0;
			z-index: 1;
		}
		&:first-child{
			&:after{
				border-bottom-left-radius: 8px;
				border-top-left-radius: 8px;
			}
			span{
				border-bottom-left-radius: 8px;
				border-top-left-radius: 8px;
			}
		}
		&:nth-child(2){
			flex-grow:2;
			&:after{
				transform: skewX(-15deg);
			}
			&:before{
				display: none !important;
			}
			span{
				transform: skewX(-15deg);
				&:before{
					display: none !important;
				}
			}
		}
		&:last-child{
			&:before{
				right: auto;
				left: -2px;
			}
			&:after{
				border-bottom-right-radius: 8px;
				border-top-right-radius: 8px;
			}
			span{
				border-bottom-right-radius: 8px;
				border-top-right-radius: 8px;
				&:before{
					right: auto;
					left: -2px;
				}
			}
		}
		&.active{
			color: #1d72f3;
			span{
				width: calc(100% - 18px);
				&:before{
					display: block;
				}
			}
		}
	}
	// #d0d0d0
	// #1d72f3
}

.diagnosis-wrapper{
	height: 75vh;
	text-align: center;
	background: rgba(244, 244, 244, .98);
	position: absolute;
	left: 15px;
	right: 15px;
	top: 50%;
	transform: translate(-150%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	transition:all .6s ease;
	&.active{
		transform: translate(0, -50%);
	}
	&.active-hide{
		transform: translate(0, 200%);
	}
	.diagnosis-asks{
		color: #606060;
		font-size: 24px;
		font-weight: 500;
		line-height: 46px;
		margin-bottom: 60px;
		span{
			margin-left: 5px;
			background: #fff;
			border-radius:10px;
			box-shadow: 0 3px 10px rgba(0,0,0,.15);
			color: #1d72f3;
			padding: 7px 18px 9px;
			display: inline-block;
			cursor: pointer;
			&:after{
				content:"?";
				left: 5px;
				position: relative;
				vertical-align: middle;
				display: inline-block;
				vertical-align: middle;
				margin-left: .5rem;
				width: 21px;
				height: 21px;
				background-color: #ccc;
				font-size: 12px;
				color: #fff;
				line-height: 1;
				padding-top: 5px;
				font-family: Arial;
				border-radius:50%;
			}
		}
	}
	.diagnosis-options{
		li{
			margin: 0 auto 20px;
			position: relative;
			min-height: 60px;
			border-radius: 7.5px;
			overflow: hidden;
			max-width: 330px;
		}
		button{
			margin: 0 auto;
			display: block;
			min-height: 60px;
			max-width: 330px;
			width: 100%;
			background: #1d72f3;
			text-align: center;
			color: #fff;
			font-weight: 700;
			text-transform: uppercase;
			-webkit-transition: all .3s;
			transition: all .3s;
			border-radius: 7.5px;
			box-shadow: 0 3px 10px rgba(0,0,0,.15);
			cursor: pointer;
			padding: 11px;
			font-size: 20px;
			border: none;
			transition: .3s ease;
			position: relative;

			&:hover{
				background-color: #004bbe;
			}
		}
		i.modalOpen{
			height: 60px;
			position: absolute;
			display: inline-block;
			vertical-align: middle;
			font-size: 12px;
			text-align: center;
			color: #fff;
			line-height: 1;
			font-family: Arial;
			z-index: 2;
			width: 70px;
			top: 0;
			right: -10px;
			&:after{
				content: "?";
				background: #fff;
				width: 16px;
				height: 16px;
				display: block;
				left: 22px;
				top: 22px;
				color: #6da7ff;
				z-index: 3;
				position: absolute;
				line-height: 16px;
				border-radius: 50%;
			}
			&:before{
				z-index: 1;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				-webkit-transform: skewX(-15deg);
				transform: skewX(-15deg);
				background-color: #6da7ff;
			}
		}
	}
}

.summary-wrapper{
	height: 80vh;
	text-align: center;
	background: rgba(244, 244, 244, .98);
	position: absolute;
	left: 15px;
	right: 15px;
	top: 50%;
	transform: translate(-150%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	transition:all .6s ease;
	&.active{
		transform: translate(0, -50%);
	}
}

button.back{
	padding: .75rem 0;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #1d72f3;
	background: none;
	transition: all .3s;
	border: none;
	position: absolute;
	left: 15px;
	top: 15px;
	&:before{
		content: '';
		display: inline-block;
		vertical-align: middle;
		background-image: url('../img/l-sprite.png');
		background-position: 0 -119px;
		width: 10px;
		height: 16px;
		margin-right: .75rem;
	}
}


.summary-wrapper{
	padding: 0 30px;
	.summary-inner{
		width: 100%;
		max-width: 1500px;
	}
	h2{
		color: #1d72f3;
		font-size: 30px;
		font-weight: 500;
		line-height: 42px;
		text-align: left;
		margin-bottom: 30px;
		margin-left: 120px;
	}
	.summary-content{
		background-color:rgb(255, 255, 255);
		border-bottom-left-radius:5px;
		border-bottom-right-radius:5px;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		box-shadow:rgba(0, 0, 0, 0.15) 0px 3px 10px 0px;
		overflow: hidden;
		display: flex;
		&:before, &:after{
			content:"";
			display: block;
			clear: both;
		}
		&__left{
			width: 55%;
			background: #1d72f3;
			color: #fff;
			position: relative;
			&:after{
				content: '';
				background: #fff;
				position: absolute;
				top: 0;
				height: 100%;
				right: 0;
				width: 30%;
				transform: skewX(-15deg) translate(100%, 0);
				transform-origin: 0 0;
				background-color: white;
			}
			// &:before{
			// 	content:"";
			// 	right: 0;
			// 	top: 0;
			// 	bottom: 0;
			// 	box-shadow: 1px 1px 1px 10px rgba(0,0,0,.2);
			// }
		}
		&__right{
			padding-top: 60px;
			padding-bottom: 60px;
			width: 45%;
			position: relative;
			p{
				max-width: 400px;
				margin: 0 auto;
				color: #606060;
				font-size: 16px;
				font-weight: 400;
				line-height: 30px;
				margin-bottom: 26px;
				text-align: left;
			}
			li{
				margin-bottom: 10px;
			}
			button{
				background: rgb(29, 114, 243);
				border-radius: 7.5px;
				box-shadow: 0 3px 10px rgba(0,0,0,.15);
				color: #fff;
				font-size: 20px;
				font-weight: 700;
				min-height: 60px;
				border:none;
				width: 240px;
				text-align: left;
				padding-left: 20px;
				text-transform: uppercase;
				svg{
					fill: #fff;
					vertical-align: middle;
					margin-right: 20px;
				}
			}
		}
		&__need{
			background: #004bbe;
			font-size: 30px;
			font-weight: 500;
			line-height: 39px;
			padding: 40px 90px 40px 40px;
		}
		&__cost{
			font-size:22px;
			font-weight:500;
			line-height:33px;
			margin-bottom:32px;
			text-align:center;
			max-width:534px;
			width: 100%;
			margin: 0 auto;
			padding: 40px;
			b{
				font-size: 25px;
				line-height: 37px;
				display: block;
			}
			span{
				display: block;
				opacity: 0.5;
				font-size: 25px;
				line-height: 37px;
			}
			button{
				border:none;
				background: #fff;
				border-radius: 5px;
				box-shadow:0 3px 10px rgba(0,0,0,.15);
				color: #1d72f3;
				font-size: 20px;
				font-weight: 700;
				margin-bottom:32px;
				margin-left:auto;
				margin-right:auto;
				max-width:360px;
				padding-bottom:13px;
				padding-left:18px;
				padding-right:18px;
				padding-top:17px;
				width:360px;
				margin-top: 32px;
				display: block;
			}
		}
	}
}