@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

strong, b {
  font-weight: 700; }

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

body {
  line-height: 1.2;
  font-size: 14px;
  min-width: 320px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important; }

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

button, input[type="button"], input[type="submit"] {
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

html, body, * {
  font-family: 'Poppins', sans-serif; }

.clearfix:before, .clearfix:after, .row:before, .row:after {
  display: table;
  content: "";
  clear: both; }

.container {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding-left: 15px;
  padding-right: 15px; }

.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.row {
  clear: both;
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; } }

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

body, html {
  color: #000;
  line-height: 1.3;
  font-size: 14px;
  background: url("../img/Happy-Fone-Fix-customer-holding-repaired-mobile-phone.jpg") no-repeat fixed center center/cover; }

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 15px;
  z-index: 2; }
  header .logo {
    display: block; }

.content-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1; }
  .content-form .form-wrapper {
    height: 125px;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(29, 114, 243, 0.92);
    overflow: hidden;
    padding: 1.25rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .content-form .form-wrapper:after, .content-form .form-wrapper:before {
      content: '';
      display: block;
      width: 7vw;
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: #1362e3;
      z-index: 1; }
    .content-form .form-wrapper:before {
      left: 0;
      -webkit-transform: skewX(-15deg);
      transform: skewX(-15deg);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0; }
    .content-form .form-wrapper:after {
      right: 0;
      -webkit-transform: skewX(-15deg);
      transform: skewX(-15deg);
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%; }
    .content-form .form-wrapper span {
      font-size: 22px;
      display: inline-block;
      vertical-align: middle;
      font-weight: 500; }
      .content-form .form-wrapper span.select {
        margin: 0 25px;
        color: #1d72f3;
        background-color: #fff;
        border-radius: 7.5px;
        cursor: pointer;
        -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
        padding: 0 55px 0 30px;
        height: 65px;
        line-height: 65px;
        position: relative;
        -webkit-transition: all .3s ease;
        transition: all .3s ease; }
        .content-form .form-wrapper span.select:after {
          content: "";
          display: block;
          position: absolute;
          right: 17px;
          background-image: url("../img/l-sprite.png");
          background-position: 0 -249px;
          width: 16px;
          height: 10px;
          top: 50%;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }
        .content-form .form-wrapper span.select.not-valid {
          -webkit-box-shadow: 0 0 10px red;
          box-shadow: 0 0 10px red; }
    .content-form .form-wrapper button {
      -webkit-transition: color .3s;
      transition: color .3s;
      color: #fff;
      background: none;
      border: none;
      font-size: 20px;
      font-weight: 700;
      height: 56px;
      position: relative;
      padding-right: 66px; }
      .content-form .form-wrapper button:after {
        position: absolute;
        right: 0;
        top: 0;
        content: "";
        height: 56px;
        width: 56px;
        background-color: #6da7ff;
        border-radius: 50%;
        -webkit-transition: background .3s;
        transition: background .3s;
        background-image: url("../img/l-sprite.png");
        background-position: 18px -890px; }
      .content-form .form-wrapper button:hover {
        color: #004bbe; }
        .content-form .form-wrapper button:hover:after {
          background-color: #004bbe; }

.modal {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .modal .close-modal {
    color: #1d72f3;
    border: none;
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    font-size: 28px;
    font-weight: 300;
    line-height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    -webkit-transform: translate(40%, -40%);
    transform: translate(40%, -40%); }
  .modal .modal-wrapper {
    height: 500px;
    width: 390px;
    position: relative;
    -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
    transition: opacity .2s ease, -webkit-transform .3s ease;
    transition: transform .3s ease, opacity .2s ease;
    transition: transform .3s ease, opacity .2s ease, -webkit-transform .3s ease;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0; }
    .modal .modal-wrapper .search {
      height: 70px;
      border: 0;
      padding: 15px 25px;
      display: block;
      width: 100%;
      overflow: hidden;
      z-index: 1;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 5px 5px 0 0;
      background-color: #1d72f3;
      color: #f4f4f4;
      position: relative; }
      .modal .modal-wrapper .search:after {
        content: "";
        height: 1px;
        position: absolute;
        left: 25px;
        right: 25px;
        background-color: #f4f4f4;
        bottom: 15px;
        opacity: .8; }
      .modal .modal-wrapper .search input[type="search"] {
        background: none;
        border: none;
        color: #fff;
        width: 270px;
        font-size: 16px;
        height: 40px; }
        .modal .modal-wrapper .search input[type="search"]::-webkit-input-placeholder {
          color: #f4f4f4;
          opacity: .8; }
        .modal .modal-wrapper .search input[type="search"]:-ms-input-placeholder {
          color: #f4f4f4;
          opacity: .8; }
        .modal .modal-wrapper .search input[type="search"]::-ms-input-placeholder {
          color: #f4f4f4;
          opacity: .8; }
        .modal .modal-wrapper .search input[type="search"]::placeholder {
          color: #f4f4f4;
          opacity: .8; }
        .modal .modal-wrapper .search input[type="search"]:-ms-input-placeholder {
          color: #f4f4f4;
          opacity: .8; }
        .modal .modal-wrapper .search input[type="search"]::-ms-input-placeholder {
          color: #f4f4f4;
          opacity: .8; }
      .modal .modal-wrapper .search input[type="submit"] {
        display: block;
        position: absolute;
        top: 50%;
        right: 25px;
        margin-top: -10px;
        border: none;
        padding: 0;
        font-size: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        background: none;
        background-image: url("../img/l-sprite.png");
        background-position: 0 -989px;
        width: 14px;
        height: 14px;
        opacity: .8; }
    .modal .modal-wrapper .phone-list {
      height: 430px;
      overflow-y: auto;
      background: #fff;
      position: relative; }
      .modal .modal-wrapper .phone-list li {
        cursor: pointer;
        -webkit-transition: color .3s;
        transition: color .3s;
        font-size: 25px;
        font-weight: 500;
        color: #bbb; }
        .modal .modal-wrapper .phone-list li li {
          padding: 14px 25px; }
        .modal .modal-wrapper .phone-list li.active {
          color: #1d72f3; }
        .modal .modal-wrapper .phone-list li span {
          background-color: #f8f8f8;
          border-bottom: 1px solid #d0d0d0;
          color: #1d72f3;
          cursor: default;
          display: block;
          padding: 14px 25px;
          font-weight: 700;
          font-size: 20px;
          line-height: 1;
          -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2); }
    .modal .modal-wrapper .fix-title {
      background-color: #f8f8f8;
      border-bottom: 1px solid #d0d0d0;
      color: #1d72f3;
      cursor: default;
      display: block;
      padding: 14px 25px;
      font-weight: 700;
      font-size: 20px;
      line-height: 1;
      -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2);
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2);
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0; }
  .modal.modal-active .modal-wrapper {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  .modal.modal-diagnosis .modal-content {
    background-color: #fff;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden; }
    .modal.modal-diagnosis .modal-content img {
      display: block;
      width: 100%; }
    .modal.modal-diagnosis .modal-content h2 {
      color: #1d72f3;
      font-size: 24px;
      font-weight: 500;
      line-height: 33px;
      margin-bottom: 16px; }
    .modal.modal-diagnosis .modal-content p {
      color: grey;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px; }
    .modal.modal-diagnosis .modal-content__text {
      padding: 36px 20px;
      text-align: center; }

.progress {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  background-color: #f4f4f4;
  padding: 15px; }
  .progress.active {
    -webkit-transform: translate(0, 0%);
    transform: translate(0, 0%); }
  .progress li {
    font-size: 16px;
    line-height: 30.4px;
    font-weight: 700;
    padding: 8px 20px;
    text-transform: uppercase;
    color: #d0d0d0;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 0 15px 15px; }
    .progress li span {
      content: "";
      height: 16px;
      width: 0px;
      position: absolute;
      left: 0;
      right: 18px;
      bottom: 0;
      background: #1d72f3;
      z-index: 2;
      -webkit-transition: all 1s ease;
      transition: all 1s ease; }
      .progress li span:before {
        display: none;
        content: "";
        height: 16px;
        width: 5px;
        background: #1d72f3;
        position: absolute;
        bottom: 0;
        right: -3px;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-15deg); }
    .progress li:before {
      content: "";
      height: 16px;
      width: 5px;
      background: #d0d0d0;
      position: absolute;
      bottom: 0;
      right: 15px;
      -webkit-transform: skewX(-15deg);
      transform: skewX(-15deg); }
    .progress li:after {
      content: "";
      height: 16px;
      position: absolute;
      left: 0;
      right: 18px;
      bottom: 0;
      background: #d0d0d0;
      z-index: 1; }
    .progress li:first-child:after {
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px; }
    .progress li:first-child span {
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px; }
    .progress li:nth-child(2) {
      -webkit-box-flex: 2;
      -ms-flex-positive: 2;
      flex-grow: 2; }
      .progress li:nth-child(2):after {
        -webkit-transform: skewX(-15deg);
        transform: skewX(-15deg); }
      .progress li:nth-child(2):before {
        display: none !important; }
      .progress li:nth-child(2) span {
        -webkit-transform: skewX(-15deg);
        transform: skewX(-15deg); }
        .progress li:nth-child(2) span:before {
          display: none !important; }
    .progress li:last-child:before {
      right: auto;
      left: -2px; }
    .progress li:last-child:after {
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px; }
    .progress li:last-child span {
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px; }
      .progress li:last-child span:before {
        right: auto;
        left: -2px; }
    .progress li.active {
      color: #1d72f3; }
      .progress li.active span {
        width: calc(100% - 18px); }
        .progress li.active span:before {
          display: block; }

.diagnosis-wrapper {
  height: 75vh;
  text-align: center;
  background: rgba(244, 244, 244, 0.98);
  position: absolute;
  left: 15px;
  right: 15px;
  top: 50%;
  -webkit-transform: translate(-150%, -50%);
  transform: translate(-150%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all .6s ease;
  transition: all .6s ease; }
  .diagnosis-wrapper.active {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .diagnosis-wrapper.active-hide {
    -webkit-transform: translate(0, 200%);
    transform: translate(0, 200%); }
  .diagnosis-wrapper .diagnosis-asks {
    color: #606060;
    font-size: 24px;
    font-weight: 500;
    line-height: 46px;
    margin-bottom: 60px; }
    .diagnosis-wrapper .diagnosis-asks span {
      margin-left: 5px;
      background: #fff;
      border-radius: 10px;
      -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
      color: #1d72f3;
      padding: 7px 18px 9px;
      display: inline-block;
      cursor: pointer; }
      .diagnosis-wrapper .diagnosis-asks span:after {
        content: "?";
        left: 5px;
        position: relative;
        vertical-align: middle;
        display: inline-block;
        vertical-align: middle;
        margin-left: .5rem;
        width: 21px;
        height: 21px;
        background-color: #ccc;
        font-size: 12px;
        color: #fff;
        line-height: 1;
        padding-top: 5px;
        font-family: Arial;
        border-radius: 50%; }
  .diagnosis-wrapper .diagnosis-options li {
    margin: 0 auto 20px;
    position: relative;
    min-height: 60px;
    border-radius: 7.5px;
    overflow: hidden;
    max-width: 330px; }
  .diagnosis-wrapper .diagnosis-options button {
    margin: 0 auto;
    display: block;
    min-height: 60px;
    max-width: 330px;
    width: 100%;
    background: #1d72f3;
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 7.5px;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding: 11px;
    font-size: 20px;
    border: none;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    position: relative; }
    .diagnosis-wrapper .diagnosis-options button:hover {
      background-color: #004bbe; }
  .diagnosis-wrapper .diagnosis-options i.modalOpen {
    height: 60px;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    text-align: center;
    color: #fff;
    line-height: 1;
    font-family: Arial;
    z-index: 2;
    width: 70px;
    top: 0;
    right: -10px; }
    .diagnosis-wrapper .diagnosis-options i.modalOpen:after {
      content: "?";
      background: #fff;
      width: 16px;
      height: 16px;
      display: block;
      left: 22px;
      top: 22px;
      color: #6da7ff;
      z-index: 3;
      position: absolute;
      line-height: 16px;
      border-radius: 50%; }
    .diagnosis-wrapper .diagnosis-options i.modalOpen:before {
      z-index: 1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transform: skewX(-15deg);
      transform: skewX(-15deg);
      background-color: #6da7ff; }

.summary-wrapper {
  height: 80vh;
  text-align: center;
  background: rgba(244, 244, 244, 0.98);
  position: absolute;
  left: 15px;
  right: 15px;
  top: 50%;
  -webkit-transform: translate(-150%, -50%);
  transform: translate(-150%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all .6s ease;
  transition: all .6s ease; }
  .summary-wrapper.active {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }

button.back {
  padding: .75rem 0;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #1d72f3;
  background: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
  position: absolute;
  left: 15px;
  top: 15px; }
  button.back:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-image: url("../img/l-sprite.png");
    background-position: 0 -119px;
    width: 10px;
    height: 16px;
    margin-right: .75rem; }

.summary-wrapper {
  padding: 0 30px; }
  .summary-wrapper .summary-inner {
    width: 100%;
    max-width: 1500px; }
  .summary-wrapper h2 {
    color: #1d72f3;
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    text-align: left;
    margin-bottom: 30px;
    margin-left: 120px; }
  .summary-wrapper .summary-content {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px 0px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .summary-wrapper .summary-content:before, .summary-wrapper .summary-content:after {
      content: "";
      display: block;
      clear: both; }
    .summary-wrapper .summary-content__left {
      width: 55%;
      background: #1d72f3;
      color: #fff;
      position: relative; }
      .summary-wrapper .summary-content__left:after {
        content: '';
        background: #fff;
        position: absolute;
        top: 0;
        height: 100%;
        right: 0;
        width: 30%;
        -webkit-transform: skewX(-15deg) translate(100%, 0);
        transform: skewX(-15deg) translate(100%, 0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        background-color: white; }
    .summary-wrapper .summary-content__right {
      padding-top: 60px;
      padding-bottom: 60px;
      width: 45%;
      position: relative; }
      .summary-wrapper .summary-content__right p {
        max-width: 400px;
        margin: 0 auto;
        color: #606060;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 26px;
        text-align: left; }
      .summary-wrapper .summary-content__right li {
        margin-bottom: 10px; }
      .summary-wrapper .summary-content__right button {
        background: #1d72f3;
        border-radius: 7.5px;
        -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        min-height: 60px;
        border: none;
        width: 240px;
        text-align: left;
        padding-left: 20px;
        text-transform: uppercase; }
        .summary-wrapper .summary-content__right button svg {
          fill: #fff;
          vertical-align: middle;
          margin-right: 20px; }
    .summary-wrapper .summary-content__need {
      background: #004bbe;
      font-size: 30px;
      font-weight: 500;
      line-height: 39px;
      padding: 40px 90px 40px 40px; }
    .summary-wrapper .summary-content__cost {
      font-size: 22px;
      font-weight: 500;
      line-height: 33px;
      margin-bottom: 32px;
      text-align: center;
      max-width: 534px;
      width: 100%;
      margin: 0 auto;
      padding: 40px; }
      .summary-wrapper .summary-content__cost b {
        font-size: 25px;
        line-height: 37px;
        display: block; }
      .summary-wrapper .summary-content__cost span {
        display: block;
        opacity: 0.5;
        font-size: 25px;
        line-height: 37px; }
      .summary-wrapper .summary-content__cost button {
        border: none;
        background: #fff;
        border-radius: 5px;
        -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        color: #1d72f3;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
        max-width: 360px;
        padding-bottom: 13px;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 17px;
        width: 360px;
        margin-top: 32px;
        display: block; }
