body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background: #D0DADF;
}
body input[type="submit"]{
    font-family: 'Montserrat';
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}