@import 'reset';
@import 'fonts';
@import 'bootstrap-grid';
@import 'modal';
@import 'animate';


body, html{
	color:#000;
	line-height: 1.3;
	font-size: 14px;
	background-color: #000;
	overflow-x: hidden;
}

@keyframes pulse {
	from{opacity:1}
	to{opacity:0.6}
}

header{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 100vh;
	position: relative;
	@media(min-width:768px){
		padding-top: 30px;
		padding-bottom: 30px;
	}
	&:before{
		content:"";
		width: 100%;
		height: 100%;
		left: 0; right: 0;
		top: 0; bottom: 0;
		display: block;
		position: absolute;
		background: url('../img/amber.png') no-repeat center 0/auto 100%;
		opacity: 0;
		transition: opacity 1s ease-in-out;
		z-index: 2;
	}
	&:after{
		content:"";
		width: 100%;
		height: 100%;
		left: 0; right: 0;
		top: 0; bottom: 0;
		display: block;
		position: absolute;
		z-index: 1;
		animation: pulse 2.5s linear infinite alternate;
		background-image: radial-gradient(#ff4ca8, #58243d);
	}
	.container{
		position: relative;
		z-index: 2;
	}
	.logo{
		margin: 0 auto 160px;
		display: block;
		width: auto;
		width: 100px;
		max-width: 100%;
		transform:translate(0, 100vh);
		transition:all .5s ease-in-out;
		@media(min-height:600px){
			margin: 0 auto 270px;
		}
		@media(min-width:768px){
			width: 130px;
		}
		@media(min-width:1200px){
			margin: 0 auto 277px;
			width: 205px;
		}
		img{
			width: 100%;
			height: auto;
			display: block;
		}
	}
	h1{
		font-family: Arquitecta;
		font-size: 40px;
		font-weight: 900;
		line-height: 1;
		text-align: center;
		color: white;
		margin-bottom: 15px;
		opacity: 0;
		transform:translate(0, 25%);
		transition:.3s ease-in-out .6s;
		@media(min-height:600px){
			font-size: 50px;
		}
		@media(min-width:768px){
			font-size: 80px;
			line-height: 115px;
			margin-bottom: 30px;
		}
		@media(min-width:1200px){
			font-size: 96px;
		}
		span{
			color:#FB7EC3;
			line-height: 1;
			position: relative;
			&:before{
				content:"";
				width: 100%;
				height: 3px;
				background: #FB7EC3;
				display: block;
				position: absolute;
				bottom: 5px;
				left: 0; right: 0;
				@media(min-width:768px){
					height: 5px;
					bottom: 10px;
				}
			}
		}
	}
	.title-note{
		font-family: Arquitecta;
		font-size: 14px;
		line-height: 1.2;
		text-align: center;
		color: #FFFFFF;
		margin-bottom: 15px;
		opacity: 0;
		transform:translate(0, 50%);
		transition:.3s ease-in-out .5s;
		br{
			display: none;
		}
		@media(min-width:768px){
			br{
				display: block;
			}
			margin-bottom: 30px;
			font-size: 16px;
			line-height: 23px;
		}
		@media(min-width:1200px){
			font-size: 18px;
		}
	}
	.btn{
		margin-bottom: 15px;
		opacity: 0;
		transform:translate(0, 50%);
		transition:.3s ease-in-out .4s;
		@media(min-width:768px){
			margin-bottom: 30px;
		}
	}
	.foot-note{
		font-size: 12px;
		line-height: 1.1;
		text-align: center;
		color: #A9A9A9;
		opacity: 0;
		transform:translate(0, 50%);
		transition:.3s ease-in-out .3s;
		br{
			display: none;
		}
		@media(min-width:768px){
			line-height: 18px;
			br{
				display: block;
			}
		}
		@media(min-width:1200px){
			font-size: 14px;
		}
	}
	&.loaded{
		&:before{
			opacity: 1;
		}
		.logo{
			transform:translate(0, 0);
		}
		h1, .title-note, .btn, .foot-note{
			opacity: 1;
			transform:translate(0, 0);
		}
	}
}

main{
	display: none;
	position: relative;
	z-index: 2;
}

.btn{
	max-width: 100%;
	margin: 0 auto;
	display: block;
	width: 476px;
	height: 60px;
	line-height: 60px;
	border:none;
	box-shadow: none;
	transition:.2s;
	font-size: 20px;
	color: #FFFFFF;
	position: relative;
	text-decoration: none;
	text-align: center;
	padding: 0;
	@media(min-width:768px){
		font-size: 32px;
		height: 81px;
		line-height: 81px;
	}
	&:hover{
		transition:opacity .2s ease !important;
		opacity: .8 !important;
	}
	&__purple{
		background: #F344A6;
	}
	&__no{
		width: 212px;
		height: 48px;
		line-height: 48px;
		background: #CBCBCB;
		font-weight: 900;
		font-size: 18px;
		color: #4D4D4D;
	}
	span{
		line-height: 1;
		position: relative;
		&:before{
			content: "";
			width: 100%;
			height: 1px;
			background: #fff;
			display: block;
			position: absolute;
			bottom: 3px;
			left: 0;
			right: 0;
		}
	}
}

.brand{
	background-color: #000;
	position: relative;
	padding:30px 0;
	@media(min-width:768px){
		padding:80px 0;
	}
	&:before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: #000;
		height: 5px;
		border-radius: 50%;
		transform: translate(0, -50%);
		@media(min-width:768px){
			height: 15px;
		}
	}
	&:after{
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: #fff;
		height: 10px;
		border-radius: 50%;
		transform: translate(0, 50%);
		@media(min-width:768px){
			height: 25px;
		}
	}
	.container{
		position: relative;
		z-index: 2;
	}
	ul{
		text-align: center;
		justify-content: center;
		align-items: center;
		display: flex;
		li{
				flex-grow: 1;
				width: 33.333%;
			img{
				width:80px;
				@media(min-width:768px){
					width: auto;
				}
			}
		}
	}
}

.who_we_are{
	background: #fff;
	padding:30px 0;
	position: relative;
	@media(min-width:768px){
		padding:60px 0 120px;
	}
	h1{
		font-size: 50px;
		line-height: 1.3;
		text-align: center;
		color: #000000;
		font-weight: 900;
		margin-bottom: 30px;
		@media(min-width:768px){
			margin-bottom: 60px;
			font-size: 90px;
		}
		@media(min-width:1200px){
			font-size: 100px;
			line-height: 120px;
		}
	}
	&__image{
		display: block;
		margin: 0 auto;
		max-width: 80%;
	}
	p{
		font-size: 14px;
		line-height: 1.3;
		color: #000000;
		padding-top: 30px;
		margin-bottom: 30px;
		font-weight: 300;
		@media(min-width:768px){
			font-size: 16px;
			padding-top: 60px;
			margin-bottom: 45px;
		}
		@media(min-width:1200px){
			font-size: 18px;
			line-height: 27px;
		}
		&:last-child{
			padding-top: 0;
			margin-bottom: 0;
		}
		b{
			font-weight: 700;
			font-size: 26px;
			line-height: 1;
			@media(min-width:768px){
				font-size: 38px;
			}
			@media(min-width:1200px){
				font-size: 48px;
			}
		}
		&.mb60{
			margin-bottom: 30px;
			@media(min-width:768px){
				margin-bottom: 60px;
			}
		}
	}
	&__info{
		background: #000;
		position: relative;
		overflow: hidden;
		padding-top: 60px;
		@media(min-width:768px){
			padding-top: 120px;
		}
		&:before{
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background: #fff;
			height: 25px;
			border-radius: 50%;
			transform: translate(0, -50%);
		}
		&:after{
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: #fff;
			height: 25px;
			border-radius: 50%;
			transform: translate(0, 50%);
		}
		.container{
			padding-bottom: 30px;
			background: none;
			@media(min-width:768px){
				padding-bottom: 60px;
				background: url('../img/model.svg') no-repeat right bottom;
			}
		}
		p{
			color: #fff;
		}
		.mom{
			border-radius: 50%;
			position: relative;
			z-index: 2;
			@media(min-width:768px){
				background: #FFDCF0;
				width: 237px;
				height: 237px;
				margin-left: 125px;
				margin-top: 125px;
			}
			img{
				display: block;
				margin:15px auto;
				@media(min-width:768px){
					margin: 0;
					position: absolute;
					left: 0; top: 0;
					transform:translate(-125px, -68px);
				}
			}
			span{
				font-size: 24px;
				line-height: 1;
				color: #F344A6;
				@media(min-width:768px){
					width: 298px;
					position: absolute;
					left: 0;
					top: 50%;
					transform:translate(154px, -50%);
				}
			}
		}
	}
}

.how_it_works{
	background: #fff;
	padding-bottom: 30px;
	padding-top: 30px;
	@media(min-width:768px){
		padding-bottom: 150px;
		padding-top: 100px;
	}
	h1{
		font-weight: 900;
		font-size: 50px;
		line-height: 1.3;
		color: #000000;
		@media(min-width:768px){
			font-size: 90px;
		}
		@media(min-width:1200px){
			font-size: 100px;
			line-height: 120px;
		}
	}
	p{
		font-size: 16px;
		line-height: 1;
		color: #000000;
		padding-top: 15px;
		margin-bottom: 15px;
		font-weight: 300;
		@media(min-width:768px){
			padding-top: 60px;
			margin-bottom: 45px;
		}
		@media(min-width:1200px){
			font-size: 18px;
			line-height: 19px;
		}
		&:last-child{
			padding-top: 0;
			margin-bottom: 0;
		}
		b{
			font-weight: 700;
			font-size: 22px;
			line-height: 1;
			@media(min-width:1200px){
				font-size: 24px;
			}
			&.rose{
				color: #F344A6;
			}
		}
		&.mb60{
			margin-bottom: 30px;
			@media(min-width:1200px){
				margin-bottom: 60px;
			}
		}
	}
	.btn{
		width: 356px;
		margin: 0 0 30px;
		@media(min-width:768px){
			margin: 0;
		}
	}
	h2{
		font-weight: 900;
		font-size: 28px;
		line-height: 1;
		text-align: center;
		letter-spacing: 0.1em;
		color: #E83168;
		margin-top: 30px;
		margin-bottom: 15px;
		text-align: left;
		padding-left: 25px;
		@media(min-width:768px){
			font-size: 36px;
			padding-left: 45px;
		}
	}
	img{
		max-width:100%;
	}
	ul{
		li{
			font-size: 18px;
			line-height: 1;
			color: #000000;
			list-style:none;
			background: url('../img/checked.svg') no-repeat left 3px/15px;
			padding-left: 25px;
			margin-top: 10px;
			@media(min-width:768px){
				margin-top: 15px;
				padding-left: 45px;
				background: url('../img/checked.svg') no-repeat left center/25px;
			}
			&:first-child{
				margin-top: 0;
			}
		}
	}
	.pl80{
		@media(min-width:768px){
			padding-left: 80px;
		}
	}
}

.past_boxes{
	position: relative;
	padding-top: 30px;
	padding-bottom: 60px;
	@media(min-width:768px){
		padding-top: 60px;
		padding-bottom: 120px;
	}
	&:before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: #000;
		height: 15px;
		border-radius: 50%;
		transform: translate(0, -50%);
	}
	&:after{
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: #fff;
		height: 25px;
		border-radius: 50%;
		transform: translate(0, 50%);
	}
	h1{
		font-weight: 900;
		font-size: 50px;
		line-height: 1.3;
		color: #FFFFFF;
		text-align: center;
		@media(min-width:768px){
			font-size: 90px;
		}
		@media(min-width:1200px){
			font-size: 111px;
			line-height: 133px;
		}
	}
	.row{
		max-width: 1020px;
		@media(min-width:768px){
			margin: 0 auto;
		}
		& > div{
			padding-top: 30px;
			@media(min-width:768px){
				padding-top: 45px;
			}
		}
	}
	.img-box{
		display: block;
		margin-bottom: 5px;
		overflow: hidden;
		@media(min-width:768px){
			margin-bottom: 15px;
		}
		img{
			display: block;
			max-width: 100%;
			transition:.5s ease;
			width: 100%;
		}
	}
	.date{
		display: block;
		font-family: 'Montserrat', sans-serif;
		font-weight: 900;
		font-size: 16px;
		line-height: 1.3;
		color: #F344A6;
		@media(min-width:768px){
			font-size: 20px;
		}
		@media(min-width:1200px){
			font-size: 24px;
			line-height: 25px;
		}
	}
	h3{
		font-family: 'Montserrat', sans-serif;
		font-size: 28px;
		color: #fff;
		font-weight: 900;
		margin: 0 0 5px;
		@media(min-width:768px){
			font-size: 32px;
		}
		@media(min-width:1200px){
			font-size: 36px;
		}
	}
	p{
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		line-height: 1.1;
		color: #E5E5E5;
		font-weight: 400;
		@media(min-width:768px){
			font-size: 14px;
		}
		@media(min-width:1200px){
			font-size: 16px;
			line-height: 17px;
		}
	}
}

.testimonials{
	background: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	@media(min-width:768px){
		padding-top: 75px;
		padding-bottom: 120px;
	}
	h1{
		font-weight: 900;
		font-size: 50px;
		line-height: 1.3;
		text-align: center;
		color: #000000;
		margin-bottom: 30px;
		@media(min-width:768px){
			font-size: 90px;
			margin-bottom: 60px;
		}
		@media(min-width:1200px){
			font-size: 100px;
			line-height: 120px;
			margin-bottom: 80px;
		}
	}
	.row{
		text-align: center;
		img{
			display: block;
			margin: 0 auto 15px;
			max-width: 100%;
			@media(min-width:768px){
				margin: 0 auto 22px;
			}
		}
		h3{
			font-weight: 900;
			font-size: 24px;
			line-height: 26px;
			color: #F344A6;
			margin-bottom: 15px;
			@media(min-width:768px){
				margin-bottom: 23px;
			}
		}
		h4{
			font-size: 16px;
			line-height: 17px;
			color: #4D4D4D;
			margin-bottom: 5px;
			@media(min-width:768px){
				margin-bottom: 13px;
			}
		}
		p{
			font-size: 12px;
			min-height: 120px;
			line-height: 1;
			color: #4D4D4D;
			@media(min-width:768px){
				font-size: 15px;
			}
			@media(min-width:1200px){
				font-size: 18px;
				line-height: 19px;
			}
		}
	}
}

footer{
	position: relative;
	z-index: 2;
	background: #000;
	padding-top: 30px;
	padding-bottom: 15px;
	@media(min-width:768px){
		padding-top: 60px;
	}
	&:before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: #fff;
		height: 15px;
		border-radius: 50%;
		transform: translate(0, -50%);
	}
	h1{
		font-weight: 900;
		font-size: 45px;
		line-height: 1.3;
		color: #FFFFFF;
		margin-bottom: 15px;
		@media(min-width:768px){
			font-size: 80px;
			margin-bottom: 30px;
		}
		@media(min-width:1200px){
			margin-bottom: 45px;
			font-size: 96px;
			line-height: 115px;
		}
	}
	p{
		font-weight: 900;
		font-size: 18px;
		line-height: 1;
		color: #FFFFFF;
		@media(min-width:768px){
			font-size: 22px;
			line-height: 1.2;
		}
		@media(min-width:1200px){
			font-size: 24px;
			line-height: 26px;
		}
	}
	form{
		display: block;
		margin-top: 30px;
		@media(min-width:768px){
			display: flex;
			margin-top: 0;
		}
		input{
			height: 60px;
			display: block;
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			&[type="email"]{
				font-weight: 400;
				color: #A9A9A9;
				width: 100%;
				padding-left: 15px;
				padding-right: 15px;
				@media(min-width:768px){
					width: 300px;
					margin-right: 30px;
				}
			}
			&[type="submit"]{
				background: #F344A6;
				font-weight: 900;
				text-align: center;
				color: #FFFFFF;
				width: 218px;
				border:none;
				transition: .3s ease;
				margin: 15px auto 0;
				@media(min-width:768px){
					margin: 0;
				}
				&:hover{
					opacity: .8;
				}
			}
		}
	}
	.row{
		margin-bottom: 30px;
		@media(min-width:768px){
			margin-bottom: 90px;
		}
	}
	small{
		font-size: 18px;
		line-height: 19px;
		color: #F344A6;
		a{
			color: #FFDCF0;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&.white{
		background-color: #fff;
		h1, p, small a{
			color: #000;
		}
	}
}

.product-section{
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
	@media(min-width:768px){
		padding-top: 100px;
		padding-bottom: 130px;
	}
	&:before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: #fff;
		height: 15px;
		border-radius: 50%;
		transform: translate(0, -50%);
	}
	&:after{
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: #fff;
		height: 25px;
		border-radius: 50%;
		transform: translate(0, 50%);
	}
	h1{
		font-weight: 900;
		font-size: 50px;
		line-height: 1.3;
		text-align: center;
		color: #FFFFFF;
		margin-bottom: 30px;
		@media(min-width:768px){
			font-size: 80px;
			margin-bottom: 60px;
		}
		@media(min-width:1200px){
			margin-bottom: 75px;
			font-size: 100px;
			line-height: 120px;
		}
	}
	.product-section{
		&__product-list{
			@media(min-width:768px){
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		&__product-item{
			padding: 0 15px;
			text-align: center;
			position: relative;
			padding-top: 30px;
			margin-bottom: 30px;
			@media(min-width:768px){
				margin-bottom: 0;
				min-height: 493px;
				padding: 0 26px;
				padding-top: 90px;
			}
			.product-item{
				&__price{
					font-weight: 900;
					font-size: 26px;
					line-height: 1.2;
					color: #F344A6;
					text-align: center;
					@media(min-width:768px){
						font-size: 36px;
						line-height: 46px;
					}
				}
				&__shipping{
					color: #fff;
					font-weight: 100;
					font-size: 12px;
					text-align: center;
					margin-bottom: 10px;
					@media(min-width:768px){
						font-size: 15px;
						margin-bottom: 30px;
					}
				}
				&__title{
					text-transform: uppercase;
					font-size: 24px;
					font-weight: 600;
					text-align: center;
					color: #fff;
					margin-bottom: 10px;
					@media(min-width:768px){
						font-size: 34px;
						margin-bottom: 15px;
					}
				}
				&__link{
					height: 50px;
					width: 100%;
					font-weight: 900;
					font-size: 28px;
					line-height: 50px;
					text-align: center;
					color: #FFFFFF;
					display: block;
					background: #FB7DC3;
					text-decoration: none;
					margin-bottom: 15px;
					transition: .3s ease;
					@media(min-width:768px){
						margin-bottom: 45px;
						height: 60px;
						font-size: 36px;
						line-height: 60px;
					}
					&:hover{
						opacity: .8;
					}
				}
				&__description{
					font-size: 14px;
					line-height: 1.1;
					color: #A9A9A9;
					text-align: center;
					@media(min-width:768px){
						font-size: 18px;
						line-height: 23px;
					}
				}
			}
		}
		&__product-accent{
			border: 1px solid #FB7DC3;
			@media(max-width:768px){
				margin: 0 15px;
				padding-bottom: 15px;
			}
			&:before{
				content:"Most Popular Choice";
				display: block;
				position: absolute;
				left: 0; right: 0;
				top: 10px;
				font-weight: 900;
				font-size: 12px;
				line-height: 18px;
				text-align: center;
				color: #F344A6;
				@media(min-width:768px){
					top: 45px;
					font-size: 14px;
				}
			}
			.product-item{
				&__link{
					background: #F344A6;
				}
			}
		}
	}
}

.form-section{
	background: #fff;
	position: relative;
	overflow: hidden;
	opacity: 0;
	max-height: 0px;
	transition:.3s ease;
	.pull_right{
		float: none;
		@media(min-width:992px){
			float: right;
		}
	}
	&.active{
		opacity: 1;
		padding-top: 30px;
		padding-bottom: 30px;
		max-height:2000px;
		@media(min-width:768px){
			padding-top: 75px;
			padding-bottom: 120px;
		}
	}
	form{
		input, select{
			padding: 0 15px;
			height: 55px;
			background: #F7F7F7;
			border: 1px solid #A9A9A9;
			font-family: 'Helvetica';
			font-size: 18px;
			line-height: 18px;
			color: #A9A9A9;
			display: block;
			width: 100%;
			margin-bottom: 10px;
			@media(min-width:768px){
				margin-bottom: 20px;
				height: 65px;
			}
		}
		[type="submit"]{
			background: #F344A6;
			height: 60px;
			font-weight: 900;
			font-size: 36px;
			color: #FFFFFF;
			width: 416px;
			max-width: 100%;
			border:none;
			transition: .3s ease;
			margin-bottom: 30px;
			@media(min-width:768px){
				margin-bottom: 0;
				font-size: 48px;
				height: 75px;
			}
			&:hover{
				opacity: .8;
			}
		}
	}
	h3{
		font-weight: 900;
		font-size: 30px;
		line-height: 1.1;
		color: #000000;
		margin-bottom: 10px;
		@media(min-width:768px){
			font-size: 48px;
			line-height: 58px;
		}
	}
}

.payment-section{
	max-height:0px;
	transition: .3s ease;
	overflow: hidden;
	opacity: 0;
	text-align: center;
	&.active{
		padding-top: 60px;
		transition: .8s ease;
		max-height:2000px;
		overflow: visible;
		opacity: 1;
	}
	.pay-info{
		font-weight: 900;
		font-size: 30px;
		margin-bottom: 30px;
	}
}

.s-offer-section{
	background-color: #fff;
	position: relative;
	z-index: 3;
	max-height:0px;
	transition: .3s ease;
	overflow: hidden;
	opacity: 0;
	&.active{
		transition: .8s ease;
		padding-top: 30px;
		padding-bottom: 30px;
		max-height:2000px;
		overflow: visible;
		opacity: 1;
		@media(min-width:768px){
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}
	&:before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: #fff;
		height: 15px;
		border-radius: 50%;
		transform: translate(0, -50%);
	}
	&:after{
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: #fff;
		height: 25px;
		border-radius: 50%;
		transform: translate(0, 50%);
	}
	h1{
		font-weight: 900;
		font-size: 40px;
		line-height: 1.1;
		text-align: center;
		color: #000000;
		margin-bottom: 15px;
		@media(min-width:768px){
			margin-bottom: 30px;
			font-size: 55px;
			line-height: 66px;
		}
	}
	img{
		display: block;
		margin-top: 15px;
		max-width:100%;
		@media(min-width:768px){
			margin-top: 30px;
		}
	}
	h2{
		font-weight: 900;
		font-size: 48px;
		line-height: 58px;
		color: #000000;
	}
	ul{
		li{
			font-family: 'Helvetica';
			font-size: 18px;
			line-height: 1;
			color: #4D4D4D;
			display: block;
			width: 400px;
			max-width: 100%;
			padding:12px 0;
			span{
				float: right;
			}
		}
	}
	.total{
		font-weight: 900;
		font-size: 48px;
		line-height: 71px;
		color: #F344A6;
		width: 430px;
		max-width: 100%;
		padding-bottom: 30px;
		padding-top: 30px;
		span{
			display: block;
			float: right;
		}
	}
	#subscribe-btns{
		width: 430px;
		max-width: 100%;
		.btn{
			width: 100%;
			margin-bottom: 16px;
			&__purple{
				font-weight: 900;
				font-size: 44px;
			}
			&__no{
				width: 212px;
			}
		}
	}
}

.form-section{
	&__cart-list-container{
		position: relative;
		padding-top: 30px;
	}
	&__cart-list-container{
		width: 412px;
		max-width: 100%;
		background: #F7F7F7;
		border: 1px solid #A9A9A9;
		margin-bottom: 30px;
		@media(min-width:992px){
			margin-bottom: 0;
		}
	}
	.cart-item{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
		&__img-container{
			img{
				display: block;
				width: 100%;
			}
		}
		&__dscr-container{
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			line-height: 27px;
			font-weight: 900;
			color: #000000;
		}
		&__price-container{
			color: #FB7DC3;
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			line-height: 27px;
			font-weight: 900;
		}
	}
	.total-block{
		&__price-row {
			margin-top: 15px;
			padding:10px 30px;
			background: #FB7DC3;
			font-weight: 900;
			font-size: 48px;
			color: #fff;
			&:before, &:after{
				content:"";
				display: block;
				clear: both;
			}
			.total-block__name{
				float: left;
			}
			.total-block__price{
				float: right;
			}
		}
		&__info-row {
			padding:5px 30px;
			font-size: 18px;
			&:before, &:after{
				content:"";
				display: block;
				clear: both;
			}
			.total-block__name{
				float: left;
			}
			.total-block__price{
				float: right;
			}
		}
	}
}

.anim_box{
	visibility: hidden;
	&.animated{
		visibility: visible;
	}
}